<div id='content-dialog' class='model-dialog' title='ファイルアップロード'>

  <div class="alert alert-danger hide" id="content-error-message">
    データの更新に失敗しました。
    <div id="errors"><ul/></div>
  </div>

  <div id="login">
    <table>
      <%= form_for Content.new,
        :url => {:controller => :contents, :action => :create },
        :html => { :multipart => true },
        :remote => true do |f| %>
        <%
          contents = get_users_contents(user.id)
        %>
        <%= f.text_field :user_id, :value => user.id, :type => 'hidden' %>
        <tr>
          <td>アップロード済：</td><td><%= f.select :id,
            contents, :selected=> contents.values.first %> | <%= link_to "ファイルを削除",
              {controller:"contents", action:"destroy", id: user.id},
                data: {confirm: "本当によろしいですか？"} %></td>
        </tr>
        <tr>
          <td>分析データを選択：</td><td><%= f.file_field :upload_file %></td>
        </tr>
        <tr>
          <td></td><td><%= f.submit "アップロード" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
