<%= stylesheet_link_tag "content", media: "all" %>
<%= include_gon %>
<% set_title(full_title("設定")) %>
<%= render 'layouts/loading' %>


<div class="setting"><h2>期間設定</h2></div>
<div id="calender">
  <div id="date-range">
    <div id="date-range-field">
      <span></span>
    </div>
    <div id="datepicker-calendar"></div>
  </div>
</div>
<br>
<div class="setting"><h2>CV設定</h2></div>
<div class="alert alert-danger hide" id="content-active-error-message">
  <div id="errors"><ul/></div>
</div>
<%= form_for(@content, :url =>{:controller => 'contents', :action => 'create'}, html: {:name => 'uploadForm'}) do |f| %>
<input type="text" name="content[date]" class="hide parameter" />
<input type="text" name="content[cv_num]" class="hide parameter" />
<ul id="cv">
  <% @ga_goals.each do |name, number| %>
    <li><a href="javascript:void(0)" class=<%= number %>>選択</a><%= name %></li>
  <% end %>
  <%= f.file_field :upload_file, class: "hide" %>
  <li>
    <a href="javascript:void(0)" class="file">選択</a>
    <input type="text" id="file">
    <input id="file-field-button" type="button" value="参照">
  </li>
</ul>
<div id="btn">
  <div id="submit" class="dummy-submit">設定</div>
  <a id="submit" class="real-submit hide" href="javascript:void(0)" onclick="execFormSubmit()">設定</a>
  <%= link_to '設定', "javascript:history.back();",{id: 'submit', class: 'cancel-submit hide', data: { push: "partial", target: "@data-role" } }%>
  <%= link_to 'キャンセル', "javascript:void(0)",data: { push: "partial", target: "@data-role" }, id: "cancell" %>
  <br class="clear">
</div>
<% end %>
