<%provide(:title, 'ファイルアップロード') %>
<%= render partial: 'shared/error_messages', locals: {error_contents: @content }%>
<div id="login">
  <h1>ファイルアップロード</h1>
  <h2><%= link_to "ホームへ戻る", root_path %></h2>
  <table>
  <%= form_for(@content, :url =>{:controller => 'contents', :action => 'create'}, html: {:name => 'uploadForm'}) do |f| %>
    <tr>
      <td>アップロード：</td><td><%= f.file_field :upload_file %></td>
    </tr>
    <tr>
      <td></td><td><a href="javascript:void(0)" onclick="document.uploadForm.submit();return false;">アップロード開始</a></td>
    </tr>
    <% if get_users_contents(current_user.id).size > 0 %>
      <tr><td></td></tr>
      <tr>
        <td>アップロード済：</td><td><%= f.select :id,
          get_users_contents(current_user.id),
          :selected=> get_users_contents(current_user.id).values.first%></td>
      </tr>
      <tr>
        <td></td><td><%= link_to "選択データを削除", content_path(current_user),
            {id: "content-delete-link", method: :delete, data: {confirm: "本当によろしいですか？"} } %></td>
      </tr>
     <% end %>
  <% end %>
  </table>
