<br>
<div id="db">
  <table>
  <%
    cnt = 1

    def chk_num(cnt)
      if cnt == 1
        '①'
      elsif cnt == 2
        '②'
      elsif cnt == 3
        '③'
      end
    end

    in_table.each do |k, v|
      # num = chk_num(cnt)
  %>
    <tr>
      <td  rowspan="2" class="contm">参<br>照<br>元<br><%= chk_num(cnt) %></td><td class="conts" colspan="3"><%= k %></td>
    </tr>
    <tr>
      <td class="conts">セッション</td><td><div class="lt"><%= v[:metrics_avg] %></div><div class="rt">（±<%= v[:metrics_stddev] %>）</div></td><td><%= v[:desire] %></td>
    </tr>
  <%
      cnt += 1
    end
  %>
  </table>
</div>
