<%provide(:title, 'パスワード編集') %>
<%= render partial: 'shared/error_messages', locals: {error_contents: @user } %>
<div id="login">
  <h1>パスワードを再設定</h1>
  <p>新しいパスワードを入力してください。</p>
  <p>パスワードを再設定後、ホーム画面に戻ります。</p>
  <table>
  <%= form_for(@user, :url =>{:action => 'update'}, html: {:name => 'editForm'}) do |f| %>
    <tr>
      <td>新しいパスワード：</td><td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <td>確認のため再入力：</td><td><%= f.password_field :password_confirmation %></td>
    </tr>
    <tr>
      <td></td><td><%= link_to "キャンセル",  {:controller => "users", :action => "show"}, {:id => 'cancel'} %></td>
      <td><a id='submit' href="javascript:void(0)" onclick="document.editForm.submit();return false;">変更を保存</a></td>
    </tr>

  <% end %>
  </table>
