<% provide(:title, "パスワード編集") %>
<h1>パスワードを変更</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

<!--       <%= f.label :name %>
      <%= f.text_field :name %> -->

<!--       <%= f.label :email %>
      <%= f.text_field :email %> -->

      <%= f.label :password, '新しいパスワード' %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "新しいパスワードの再入力" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "変更を保存", class: "btn btn-large btn-primary" %>
    <% end %>

    <!-- <%= gravatar_for @user %> -->
    <!-- <a href="http://gravatar.com/emails">change</a> -->
  </div>
</div>
