<%provide(:title, 'ユーザー情報の編集') %>
<%= render 'shared/error_messages' %>
<div id="edit-detail">
  <table>
  <%= form_for(@user, :url =>{:action => 'update_detail'}, html: {:name => 'editDetailForm'}) do |f| %>
    <tr>
      <td>名前：</td><td><%= f.text_area :name %></td>
    </tr>
    <tr>
      <td>メールアドレス：</td><td><%= f.text_area :email %></td>
    </tr>
    <tr>
      <td>パスワード：</td><td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <td>確認のため再入力：</td><td><%= f.password_field :password_confirmation %></td>
    </tr>
    <tr>
      <td>Google Analytics プロパティID：</td><td><%= f.text_area :gaproperty_id %></td>
    </tr>
    <tr>
      <td>Google Analytics プロファイルID：</td><td><%= f.text_area :gaprofile_id %></td>
    </tr>
    <tr>
      <td>Google デベロッパープロジェクトID：</td><td><%= f.text_area :gaproject_id %></td>
    </tr>
    <tr>
      <td></td><td><%= link_to "一覧画面へ", users_path %></td>
      <td><a id='submit' href="javascript:void(0)" onclick="document.editDetailForm.submit();return false;">変更を保存</a></td>
    </tr>

  <% end %>
  </table>
</div>
