<%provide(:title, '設定の編集') %>
<%= render partial: 'shared/error_messages', locals: {error_contents: @user } %>
<div id="login">
  <h1>設定の編集</h1>
  <br><br>
  <table>
  <%= form_for(@user, :url =>{:action => 'update_init_analyze'}, html: {:name => 'editForm'}) do |f| %>
    <tr>
      <td>表示名:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td>初期分析目標：</td><td><%= f.select :init_cv_num, @ga_goal %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= link_to "キャンセル",  {:controller => "users", :action => "show"}, {:id => 'cancel'} %></td>
      <td><a id='submit' href="javascript:void(0)" onclick="document.editForm.submit();return false;">変更を保存</a></td>
    </tr>

  <% end %>
  </table>
