<%provide(:title, 'パスワード変更') %>
<%= render partial: 'shared/error_messages', locals: {error_contents: @user } %>
<div id="fm_log">
  <h1>パスワードを再設定</h1>
  <p id="explan">新しいパスワードを入力してください。</p>
  <%= form_for(@user, url: {action: 'update'}, html: {:name => 'editForm'}) do |f| %>
  <dl><dt>新パスワード&nbsp;：</dt><dd><%= f.password_field :password, :class => 'txt' %></dd></dl>
  <dl><dt>確認入力&nbsp;：</dt><dd><%= f.password_field :password_confirmation, :class => 'txt' %></dd></dl>
  <a href="javascript:void(0)" onclick="document.editForm.submit();return false;" class="hide" id="change">変更を保存</a>
  <%= link_to 'キャンセル', "javascript:history.back();", {id: "cancel"}%>
   <% end %>
  <p id="copy"><%= get_gafooter_text %></p>
</div>
