<div id="mfm">
  <ul></ul>
  <div id="gh_area">
    <div id="gh" style="z-index: 1;"></div>
    <span class="tooltip"></span>
    <div id="pnt">
      <a href="javascript:void(0)" class="all" path=<%= all_user_path %> onclick="bubbleCreateAtTabLink($(this).attr('class'));" >全体</a>
      <a href="javascript:void(0)" class="search" path=<%= search_user_path %> onclick="bubbleCreateAtTabLink($(this).attr('class'));" >検索</a>
      <a href="javascript:void(0)" class="direct" path=<%= direct_user_path %> onclick="bubbleCreateAtTabLink($(this).attr('class'));" >直接入力/ブックマーク</a>
      <a href="javascript:void(0)" class="referral" path=<%= referral_user_path %> onclick="bubbleCreateAtTabLink($(this).attr('class'));" >その他ウェブサイト</a>
      <a id="ed" href="javascript:void(0)" class="social" path=<%= social_user_path %> onclick="bubbleCreateAtTabLink($(this).attr('class'));" >ソーシャル</a>
    </div>
    <span id="errormsg"></span>
    <br>
  </div>
</div>

