<!-- <% provide(:title, '全体') %> -->

<div id="childroom">
  <!-- grapha_st -->
  <div id="brick">
    <div id="circle"><span id="yellow">■</span>PV数<span id="blue">―</span>CV数</div>
    <div id="triangle">
    <%
      graphic_hash = {
        "PV数" => :pageviews,
        "セッション数" => :sessions,
        "平均PV数" => :pageviews_per_session,
        "新規訪問率" => :percent_new_sessions,
        "平均滞在時間" => :avg_session_duration,
        "リピート率" => :repeat_rate,
        "直帰率" => :bounce_rate,
      }
    %>
    <%= select_tag('graphicselect', options_for_select( graphic_hash)) %>
    </div>
    <div id="square" style="z-index: -1;"></div>
  </div>
  <!-- grapha_end -->
  <div id="doll">
    <table>
      <tr id="line">
        <td class="row"></td>
        <% @gap_tables_for_graph.sort_by{ |a, v| v["idx"].to_i }.each do |k, v| %>
          <td><%= k[4, 2].to_i %>/<%= k[6, 2].to_i %></td>
        <% end %>
      </tr>
      <tr>
        <td class="row">目標値</td>
        <% @gap_tables_for_graph.sort_by{ |a, v| v["idx"].to_i }.each do |k, v| %>
          <td><%= v[:pageviews][0].to_f.round(1).to_s %></td>
        <% end %>
      </tr>
      <tr>
        <td class="row">現状値</td>
        <% @gap_tables_for_graph.sort_by{ |a, v| v["idx"].to_i }.each do |k, v| %>
          <td><%= v[:pageviews][1].to_f.round(1).to_s %></td>
        <% end %>
      </tr>
      <tr>
        <td class="row">GAP</td>
        <% @gap_tables_for_graph.sort_by{ |a, v| v["idx"].to_i }.each do |k, v| %>
          <td><%= v[:pageviews][2].to_f.round(1).to_s %></td>
        <% end %>
      </tr>
      <tr id="cv">
        <td class="row">CV</td>
        <% @gap_tables_for_graph.sort_by{ |a, v| v["idx"].to_i }.each do |k, v| %>
          <td><%= v[:cv].to_i %></td>
        <% end %>
      </tr>
    </table>
  </div>
  <div id="rattle">
    <table>
      <tr id="line">
        <td>目標値</td><td class="row">曜日別</td><td>現状値</td><td>GAP</td>
      </tr>
      <tr>
          <td><%= @value_table_by_days[:day_on][:good] %></td>
          <td class="row">平日</td>
          <td><%= @value_table_by_days[:day_on][:bad] %></td>
          <td><%= @value_table_by_days[:day_on][:gap] %></td>
      </tr>
      <tr>
          <td><%= @value_table_by_days[:day_off][:good] %></td>
          <td class="row">土日祝</td>
          <td><%= @value_table_by_days[:day_off][:bad] %></td>
          <td><%= @value_table_by_days[:day_off][:gap] %></td>
      </tr>
    </table>
  </div>
  <hr>

  <div id="kitchen">
    <table>
      <tr id="line">
        <td>PV数</td><td>訪問回数</td><td>CV数</td><td>CV率</td>
      </tr>
      <tr>
          <td><%= @nogap_tables[:pv].to_f.round(1).to_s %></td>
          <td><%= @nogap_tables[:session].to_f.round(1).to_s %></td>
          <td><%= @nogap_tables[:cv].to_f.round(1).to_s %></td>
          <td><%= @nogap_tables[:cvr].to_f.round(1).to_s %>%</td>
      </tr>
    </table>
    <p>CVまでに必要な訪問回数：4.1回&nbsp;&nbsp;&nbsp;&nbsp;CVまでに要する期間：10.3日</p>
    <table>
      <tr id="line">
        <td>目標値</td><td>項目名</td><td>現状値</td><td>差</td>
      </tr>
      <tr>
        <td><%= @gap_tables[:avg_pv][:good].to_f.round(1).to_s %></td><td class="row">平均PV数</td><td><%= @gap_tables[:avg_pv][:bad].to_f.round(1).to_s %></td><td><%= @gap_tables[:avg_pv][:gap].to_f.round(1).to_s %></td>
      </tr>
      <tr>
        <td><%= sprintf("%02d", ( @gap_tables[:avg_duration][:good].to_i / 60 ) ) %> : <%= sprintf("%02d", ( @gap_tables[:avg_duration][:good].to_i % 60 ) ) %></td>
        <td class="row">平均滞在時間</td>
        <td><%= sprintf("%02d", ( @gap_tables[:avg_duration][:bad].to_i / 60 ) ) %> : <%= sprintf("%02d", ( @gap_tables[:avg_duration][:bad].to_i % 60 ) ) %></td>
        <td><%= sprintf("%02d", ( @gap_tables[:avg_duration][:gap].to_i / 60 ) ) %> : <%= sprintf("%02d", ( @gap_tables[:avg_duration][:gap].to_i % 60 ) ) %></td>
      </tr>
      <tr>
           <td><%= @gap_tables[:new_percent][:good].to_f.round(1).to_s %>%</td><td class="row">新規訪問率</td><td><%= @gap_tables[:new_percent][:bad] .to_f.round(1).to_s%>%</td><td><%= @gap_tables[:new_percent][:gap] .to_f.round(1).to_s%>%</td>
      </tr>
      <tr>
          <td><%= @gap_tables[:repeat_rate][:good].to_f.round(1).to_s %>%</td><td class="row">リピート率</td><td><%= @gap_tables[:repeat_rate][:bad] .to_f.round(1).to_s%>%</td><td><%= @gap_tables[:repeat_rate][:gap] .to_f.round(1).to_s%>%</td>
      </tr>
    </table>
    <div id="knife">
      <table>
        <tr>
          <td class="row">直帰率</td>
            <td><%= @nogap_tables[:bounce_rate].to_f.round(1).to_s %>%</td>
        </tr>
      </table>
      <%= render @render_action %>
    </div>
  </div>
  <div id="bedroom">
    <table>
      <tr id="line">
        <td>目標値</td><td class="row">人気ページ</td><td>現状値</td><td>差</td>
      </tr>
      <% @favorite_pages.sort_by{ |k, v| v[:index].to_i}.each do |k, v| %>
        <% if k == "その他" then %>
          <tr id="other">
            <td><%= v[:good].to_f.round(1).to_s %>%</td><td class="row"><%= k %></td><td><%= v[:bad].to_f.round(1).to_s %>%</td><td><%= v[:gap].to_f.round(1).to_s %>%</td>
          </tr>
        <% else %>
          <% title,page = k.split(";;") %>
          <tr>
            <td><%= v[:good].to_f.round(1).to_s %>%</td><td class="row"><%= title %><p><%= page %></p></td><td><%= v[:bad].to_f.round(1).to_s %>%</td><td><%= v[:gap].to_f.round(1).to_s %>%</td>
          </tr>
        <% end  %>
      <% end %>
    </table>
  </div><br>
</div>
<div id="footer">Copyright (C) 2014 senk Inc. All Rights Reserved.</div>













<!-- デバッグ用 start -->
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <!-- <%= gravatar_for @user %> -->
        <!-- <%= @user.name %> -->
        <% @not_gap_data_for_kitchen.each do |t| %>
          <%= p t %><br>
        <% end %>
        <% @favorite_pages.each do |t| %>
          <%= p t %><br>
        <% end %>
        <% @gap_tables.each do |t| %>
          <%= p t %><br>
        <% end %>
        <% @gap_tables_for_graph.each do |t| %>
          <%= p t %><br>
        <% end %>
        <% @value_table_by_days.each do |t| %>
          <%= p t %><br>
        <% end %>
      </h1>
    </section>
  </aside>
</div>
<!-- デバッグ用 end -->
