<!-- <% provide(:title, '全体') %> -->

<div id="childroom">
  <!-- grapha_st -->
  <div id="brick">
    <%
      option = @graphic_item.to_sym
      graphic_hash = {
        "PV数" => :pageviews,
        "訪問回数" => :sessions,
        "平均PV数" => :pageviews_per_session,
        "新規訪問率" => :percent_new_sessions,
        "平均滞在時間" => :avg_session_duration,
        "再訪問率" => :repeat_rate,
        "直帰率" => :bounce_rate,
      }
    %>
    <div id="circle"><span id="yellow">■</span><%= graphic_hash.key(option) %><span id="blue">―</span>CV数</div>
    <div id="triangle">
    <%= select_tag('graphicselect', options_for_select( graphic_hash, option)) %>
    </div>
    <div id="square" style="z-index: 1;"></div>
  </div>
  <!-- grapha_end -->
  <div id="doll">
    <table>
      <tr id="line">
        <td class="row"></td>
        <% @gap_table_for_graph.sort_by{ |a, v| v["idx"].to_i }.each do |k, v| %>
          <td data-dflg=<%= v[@graphic_item][3] %>><%= k[4, 2].to_i %>/<%= k[6, 2].to_i %></td>
        <% end %>
      </tr>
      <tr>
        <td class="row">目標値</td>
        <% @gap_table_for_graph.sort_by{ |a, v| v["idx"].to_i }.each do |k, v| %>
          <td data-day=<%= v[@graphic_item][3] %>><%= v[@graphic_item][0] %></td>
        <% end %>
      </tr>
      <tr>
        <td class="row">現状値</td>
        <% @gap_table_for_graph.sort_by{ |a, v| v["idx"].to_i }.each do |k, v| %>
          <td data-day=<%= v[@graphic_item][3] %>><%= v[@graphic_item][1] %></td>
        <% end %>
      </tr>
      <tr>
        <td class="row">GAP</td>
        <% @gap_table_for_graph.sort_by{ |a, v| v["idx"].to_i }.each do |k, v| %>
          <td class="gap" data-day=<%= v[@graphic_item][3] %>><%= v[@graphic_item][2] %></td>
        <% end %>
      </tr>
      <tr id="cv">
        <td class="row">CV</td>
        <% @gap_table_for_graph.sort_by{ |a, v| v["idx"].to_i }.each do |k, v| %>
          <td><%= v[:cv].to_i %></td>
        <% end %>
      </tr>
    </table>
  </div>
  <div id="rattle">
    <table>
      <tr id="line">
        <td>目標値</td><td class="row">曜日別</td><td>現状値</td><td>GAP</td>
      </tr>
      <tr>
          <td><%= @value_table_by_days[:day_on][:good] %></td>
          <td class="row">平日</td>
          <td><%= @value_table_by_days[:day_on][:bad] %></td>
          <td class="gap"><%= @value_table_by_days[:day_on][:gap] %></td>
      </tr>
      <tr>
          <td><%= @value_table_by_days[:day_off][:good] %></td>
          <td class="row">土日祝</td>
          <td><%= @value_table_by_days[:day_off][:bad] %></td>
          <td class="gap"><%= @value_table_by_days[:day_off][:gap] %></td>
      </tr>
    </table>
  </div>
  <hr>

  <div id="kitchen">
    <table>
      <tr id="line">
        <td>PV数</td><td>セッション</td><td>CV数</td><td>CV率</td>
      </tr>
      <tr>
          <td><%= @common_table[:pageviews].to_f.round(1).to_s %></td>
          <td><%= @common_table[:sessions].to_f.round(1).to_s %></td>
          <td><%= @common_table[@cv_txt.to_sym].to_f.round(1).to_s %></td>
          <td><%= @common_table[@cvr_txt.to_sym].to_f.round(1).to_s %>%</td>
      </tr>
    </table>
    <p>　</p>
    <!-- <p>CVまでに必要な訪問回数：4.1回&nbsp;&nbsp;&nbsp;&nbsp;CVまでに要する期間：10.3日</p> -->
    <table>
      <tr id="line">
        <td>目標値</td><td>項目名</td><td>現状値</td><td>差</td>
      </tr>
      <tr>
        <td><%= @gap_table[:pageviews_per_session][:good].to_f.round(1).to_s %></td><td class="row">平均PV数</td><td><%= @gap_table[:pageviews_per_session][:bad].to_f.round(1).to_s %></td>
        <td class="gap"><%= @gap_table[:pageviews_per_session][:gap].to_f.round(1).to_s %></td>
      </tr>
      <tr>
        <td><%= @gap_table[:avg_session_duration][:good] %></td>
        <td class="row">平均滞在時間</td>
        <td><%= @gap_table[:avg_session_duration][:bad] %></td>
        <td class="gap"><%= @gap_table[:avg_session_duration][:gap] %></td>
      </tr>
      <tr>
           <td><%= @gap_table[:percent_new_sessions][:good].to_f.round(1).to_s %>%</td><td class="row">新規訪問率</td><td><%= @gap_table[:percent_new_sessions][:bad] .to_f.round(1).to_s%>%</td>
           <td class="gap"><%= @gap_table[:percent_new_sessions][:gap] .to_f.round(1).to_s%>%</td>
      </tr>
      <tr>
          <td><%= @gap_table[:repeat_rate][:good].to_f.round(1).to_s %>%</td><td class="row">リピート率</td><td><%= @gap_table[:repeat_rate][:bad] .to_f.round(1).to_s%>%</td><td class="gap"><%= @gap_table[:repeat_rate][:gap] .to_f.round(1).to_s%>%</td>
      </tr>
    </table>
    <div id="knife">
      <table>
        <tr>
          <td class="row">直帰率</td>
            <td><%= @common_table[:bounce_rate].to_f.round(1).to_s %>%</td>
        </tr>
      </table>
      <%= render @partial %>
    </div>
  </div>
  <div id="bedroom">
    <table>
      <tr id="line">
        <td>目標値</td><td class="row">人気ページ</td><td>現状値</td><td>差</td>
      </tr>
      <%
        @favorite_table.sort_by{ |k, v| v[:index].to_i}.each do |k, v|
          if k != "その他"
            title,page = k.split(";;")
      %>
        <tr>
          <td><%= v[:good].to_f.round(1).to_s %>%</td>
          <td class="row"><%= title %><p><%= page %></p></td>
          <td><%= v[:bad].to_f.round(1).to_s %>%</td>
          <td class="gap"><%= v[:gap].to_f.round(1).to_s %>%</td>
        </tr>
      <%
          end
        end
        # 人気ページ数が10に満たない場合、テーブルを埋める
        if @favorite_table.size <= 11 # ← その他も含むので、maxは11になる
          fpad_size = 11 - @favorite_table.size
          fpad_size.times {
      %>
        <tr>
          <td>-</td>
          <td class="row">-<p>-</p></td>
          <td>-</td>
          <td>-</td>
        </tr>
      <%
          }
        end
      %>
      <tr id="other">
        <td><%= @favorite_table["その他"][:good].to_f.round(1).to_s %>%</td>
        <td class="row">その他</td>
        <td><%= @favorite_table["その他"][:bad].to_f.round(1).to_s %>%</td>
        <td class="gap"><%= @favorite_table["その他"][:gap].to_f.round(1).to_s %>%</td>
      </tr>
    </table>
  </div><br>
</div>
