<% provide(:title, @user.name) %>

<div id="childroom">
  <!-- grapha_st -->
  <div id="brick">
    <div id="circle"><span id="yellow">■</span>PV数<span id="blue">―</span>CV数</div><div id="triangle"><select><option selected>PV数</option><option>訪問回数</option><option>平均PV数</option><option>平均滞在時間</option><option>新規訪問率</option><option>再訪問率</option><option>直帰率</option></select></div>
    <div id="square"></div>
  </div>
  <!-- grapha_end -->
  <div id="doll">
    <table>
      <tr id="line">
        <td class="row"></td><td>12/1</td><td>12/2</td><td>12/3</td><td>12/4</td><td>12/5</td><td>12/6</td><td>12/7</td><td>12/8</td><td>12/9</td><td>12/10</td><td>12/11</td><td>12/12</td><td>12/13</td><td>12/14</td><td>12/15</td><td>12/16</td><td>12/17</td><td>12/18</td><td>12/19</td><td>12/20</td><td>12/21</td><td>12/22</td><td>12/23</td><td>12/24</td><td>12/25</td><td>12/26</td><td>12/27</td><td>12/28</td><td>12/29</td><td>12/30</td><td>12/31</td>
      </tr>
      <tr>
        <td class="row">目標値</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td><td>31</td>
      </tr>
      <tr>
        <td class="row">現状値</td><td>2</td><td>1</td><td>3</td><td>2</td><td>1</td><td>3</td><td>2</td><td>1</td><td>3</td><td>2</td><td>1</td><td>3</td><td>2</td><td>1</td><td>3</td><td>2</td><td>1</td><td>3</td><td>2</td><td>1</td><td>3</td><td>2</td><td>1</td><td>3</td><td>2</td><td>1</td><td>3</td><td>2</td><td>1</td><td>3</td><td>2</td>
      </tr>
      <tr>
        <td class="row">GAP</td><td>3</td><td>2</td><td>1</td><td>3</td><td>2</td><td>1</td><td>3</td><td>2</td><td>1</td><td>3</td><td>2</td><td>1</td><td>3</td><td>2</td><td>1</td><td>3</td><td>2</td><td>1</td><td>3</td><td></td><td>1</td><td>3</td><td>2</td><td>1</td><td>3</td><td>2</td><td>1</td><td>3</td><td>2</td><td>1</td><td>3</td>
      </tr>
      <tr id="cv">
        <td class="row">CV</td><td>10</td><td>11</td><td>12</td><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td><td>31</td><td>32</td><td>33</td><td>34</td><td>35</td><td>36</td><td>37</td><td>38</td><td>39</td><td>40</td>
      </tr>
    </table>
  </div>
  <div id="rattle">
    <table>
      <tr id="line">
        <td>目標値</td><td class="row">曜日別</td><td>現状値</td><td>GAP</td>
      </tr>
      <tr>
        <td>100</td><td class="row">平日</td><td>210</td><td>110</td>
      </tr>
      <tr>
        <td>150</td><td class="row">土日祝</td><td>100</td><td>-50</td>
      </tr>
    </table>
  </div>
  <hr>
  
  <div id="kitchen">
    <table>
      <tr id="line">
        <td>PV数</td><td>訪問回数</td><td>CV数</td><td>CV率</td>
      </tr>
      <tr>
        <% @not_gap_data_for_kitchen.each do |t|  %>
          <td><%= t.pageviews %></td><td><%= t.sessions %></td><td><%= t.goal1_completions %></td><td><%= t.goal1_conversion_rate.to_f.round(1).to_s %>%</td>
        <% end %>
      </tr>
    </table>
    <p>CVまでに必要な訪問回数：4.1回&nbsp;&nbsp;&nbsp;&nbsp;CVまでに要する期間：10.3日</p>
    <table>
      <tr id="line">
        <td>目標値</td><td>項目名</td><td>現状値</td><td>差</td>
      </tr>
      <tr>
        <td>5.1</td><td class="row">平均PV数</td><td>3.1</td><td>-2.0</td>
      </tr>
      <tr>
        <td>05:11</td><td class="row">平均滞在時間</td><td>03:11</td><td>-02:00</td>
      </tr>
      <tr>
        <td>34.1%</td><td class="row">新規訪問率</td><td>44.1%</td><td>10.0%</td>
      </tr>
      <tr>
        <td>65.9%</td><td class="row">再訪問率</td><td>55.9%</td><td>-10.0%</td>
      </tr>
    </table>
    <div id="knife">
      <table>
        <tr>
          <td class="row">直帰率</td>
          <% @not_gap_data_for_kitchen.each do |t|  %>
            <td><%= t.bounce_rate.to_f.round(1).to_s %>%</td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
  <div id="bedroom">
    <table>
      <tr id="line">
        <td>目標値</td><td class="row">人気ページ</td><td>現状値</td><td>差</td>
      </tr>
      <tr>
        <td>11.5%</td><td class="row">株式会社先駈ホームページ<p>http://senk-inc.co.jp</p></td><td>15.5%</td><td>4.0%</td>
      </tr>
      <tr>
        <td>11.5%</td><td class="row">株式会社先駈ホームページ<p>http://senk-inc.co.jp</p></td><td>15.5%</td><td>4.0%</td>
      </tr>
      <tr>
        <td>11.5%</td><td class="row">株式会社先駈ホームページ<p>http://senk-inc.co.jp</p></td><td>15.5%</td><td>4.0%</td>
      </tr>
      <tr>
        <td>11.5%</td><td class="row">株式会社先駈ホームページ<p>http://senk-inc.co.jp</p></td><td>15.5%</td><td>4.0%</td>
      </tr>
      <tr>
        <td>11.5%</td><td class="row">株式会社先駈ホームページ<p>http://senk-inc.co.jp</p></td><td>15.5%</td><td>4.0%</td>
      </tr>
      <tr>
        <td>11.5%</td><td class="row">株式会社先駈ホームページ<p>http://senk-inc.co.jp</p></td><td>15.5%</td><td>4.0%</td>
      </tr>
      <tr>
        <td>11.5%</td><td class="row">株式会社先駈ホームページ<p>http://senk-inc.co.jp</p></td><td>15.5%</td><td>4.0%</td>
      </tr>
      <tr>
        <td>11.5%</td><td class="row">株式会社先駈ホームページ<p>http://senk-inc.co.jp</p></td><td>15.5%</td><td>4.0%</td>
      </tr>
      <tr>
        <td>11.5%</td><td class="row">株式会社先駈ホームページ<p>http://senk-inc.co.jp</p></td><td>15.5%</td><td>4.0%</td>
      </tr>
      <tr>
        <td>11.5%</td><td class="row">株式会社先駈ホームページ<p>http://senk-inc.co.jp</p></td><td>15.5%</td><td>4.0%</td>
      </tr>
      <tr id="other">
        <td>34.1%</td><td class="row">その他</td><td>24.1%</td><td>10.0%</td>
      </tr>
    </table>
  </div><br>
</div>
<div id="footer">Copyright (C) 2014 senk Inc. All Rights Reserved.</div>













<!-- もともとのサンプル start -->
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <!-- <%= gravatar_for @user %> -->
        <!-- <%= @user.name %> -->
        <% @not_gap_data_for_kitchen.each do |t| %>
          <%= p t %><br>
        <% end %>
      </h1>
    </section>
  </aside>
</div>
<!-- もともとのサンプル end -->
