  <!-- menu_st -->
  <div id="fm_menu">
    <h2 id="tp">解析期間</h2>
    <p><%= link_to '選択してください', content_path(current_user), data: { push: "partial", target: "@data-role" }, class: "set", id: "replacement-date" %></p>
    <h2>CV設定</h2>
    <p><%= link_to 'CVを選択してください', content_path(current_user), data: { push: "partial", target: "@data-role" }, class: "set", id: "replacement-cv_name" %></a></p>
    <a href="javascript:void(0)" id="atics" class="home-anlyz">分析開始</a>

    <ul>
      <li><div>全体</div></li>
      <li><a href="javascript:void(0)" class="home-anlyz" id="search">オーガニック検索</a></li>
      <li><a href="javascript:void(0)" class="home-anlyz"  id="direct">直接入力/ブックマーク</a></li>
      <li><a href="javascript:void(0)" class="home-anlyz"  id="referral">その他ウェブサイト</a></li>
      <li><a href="javascript:void(0)" class="home-anlyz"  id="social">ソーシャル</a></li>
      <li class="switch"><a id="back" href="javascript:void(0)">戻る</a></li>
    </ul>
  </div>
  <!-- menu_end -->

  <!-- additional-link_start -->
  <div id="content-link" class="hide"><%= content_path(current_user) %></div>
  <div id="home_anlyz_user_path" class="hide"><%= home_anlyz_user_path %></div>
  <div id="cache_result_anlyz_user_path" class="hide"><%= cache_result_anlyz_user_path %></div>
  <!-- additional-link_end -->

  <!-- datepicker_start -->
<!--   <div id="date-range-hidden">
    <div id="datepicker-calendar"></div>
  </div> -->
  <!-- datepicker_end-->

  <!-- data_st -->
  <div id="fm_data" role="data-role">
    <!-- replaced with layouts/_wiselinks.html.erb -->
    <%= render partial: @partial %>
  </div>
  <br class="clear">
  <!-- data_end -->
