<% @user ||= current_user %>
<!-- header_st -->
<div id="entrance">
  <h1>TAS for GA ver.</h1><select><option>CV1</option><option>CV2</option><option>CV3</option></select><a href="">ログアウト</a><a href="">パスワード変更</a><div>ID：<%= @user.name %></div><br>
</div>
<ul>
  <li id="first"><a href="">ホーム</a></li>
  <li><a href="<%= user_path %>">全体</a></li>
  <li><a href="<%= search_user_path %>">検索</a></li>
  <li><a href="direct.html" class="db">直接入力<br>ブックマーク</a></li>
  <li><a href="referral.html" class="db">その他<br>ウェブサイト</a></li>
  <li><a href="social.html">ソーシャル</a></li>
  <li><a href="campaign.html">キャンペーン</a></li>
  <li id="last"><a href="custom.html">カスタマイズ</a></li><br>
</ul>
<div id="hallway">
  <form action="<%= @narrow_action %>" method="get" name="narrowForm">
    <span id="calendar">
      <p class="arrow_box">クリックして期間を指定できます</p>
        <%= image_tag 'calender.png' %>
        <!-- 14/01/01-14/12/31 -->
        <!-- datepicker用のinput -->
        <input type="text" id="from" name="from" size="10" style="width:100px;" readonly="readonly"  />-
        <input type="text" id="to" name="to"  size="10" style="width:100px;" readonly="readonly"  />
    </span>
    <%= image_tag 'device.png', :class => "icon" %>
    <input type="radio" name="device" class="ic" value="all" checked>&nbsp;or&nbsp;&nbsp;
    <input type="radio" name="device" class="ic" value="pc">パソコン&nbsp;&nbsp;
    <input type="radio" name="device" class="ic" value="sphone">スマートフォン&nbsp;&nbsp;
    <input type="radio" name="device" class="ic" value="mobile">モバイル
    <%= image_tag 'user.png' %>
    <input type="radio" name="visitor"class="ic" value="all" checked>&nbsp;or&nbsp;&nbsp;
    <input type="radio" name="visitor"class="ic" value="new">新規&nbsp;&nbsp;
    <input type="radio" name="visitor"class="ic" value="repeat">リピーター
    <!-- ここはページによって挙動を変える -->
    <%= image_tag 'plus.png' %>
    <%= select_tag 'narrow_select', grouped_options_for_select(@categories, "", "選択してください") %>
    <a href="#" onclick="document.narrowForm.submit()" id="set">絞り込み</a>
  </form>
</div>
<!-- header_end -->
