<% @user ||= current_user %>
<!-- header_st -->
<div id="hd">
  <h1>Analytics Support Tool</h1>
  <%= select_tag 'cvselect', options_for_select( @ga_goal ) %>
  <%= link_to "ログアウト", signout_path, method: "delete" %>
  <%= link_to "パスワード変更", edit_user_path(current_user) %>
  <div>ID：<%= @user.name %></div>
</div>

<div id="iref">
  <form action="<%= @narrow_action %>" method="GET" name="narrowForm">
    <!-- Datepicker  -->
    <a href="javascript:void(0)" id="jrange"><%= image_tag 'calender.png' %><%= @from.strftime("%y/%m/%d") %>-<%= @to.strftime("%y/%m/%d") %></a>&nbsp;&nbsp;&nbsp;
    <span id='home-overlay'>
      <input type="checkbox" name="day_type" class="ic" value="all_day" checked>&nbsp;or&nbsp;&nbsp;
      <input type="checkbox" name="day_type" class="ic" value="day_on">平日&nbsp;&nbsp;
      <input type="checkbox" name="day_type" class="ic" value="day_off">土日祝
      <!-- datepicker用のinput -->
      <input type="hidden" id="from" name="from" value="<%= @from.strftime("%Y/%m/%d") %>"/>
      <input type="hidden" id="to" name="to" value="<%= @to.strftime("%Y/%m/%d")  %>" />
      <input type="hidden" value="1" name="cv_num" />
      <input type="hidden" name="shori" value="1"/>
      <input type="hidden" value="" name="graphic_item" />
      <input type="hidden" value="" name="red_item" />
      <%= image_tag 'device.png', :class => "icon" %>
      <input type="checkbox" name="device" class="ic" value="all" checked>&nbsp;or&nbsp;&nbsp;
      <input type="checkbox" name="device" class="ic" value="pc">PC&nbsp;&nbsp;
      <input type="checkbox" name="device" class="ic" value="sphone">SP&nbsp;&nbsp;
      <input type="checkbox" name="device" class="ic" value="mobile">MB
      <%= image_tag 'user.png' , :class => "icon" %>
      <input type="checkbox" name="visitor"class="ic" value="all" checked>&nbsp;or&nbsp;&nbsp;
      <input type="checkbox" name="visitor"class="ic" value="new">新規&nbsp;&nbsp;
      <input type="checkbox" name="visitor"class="ic" value="repeat">リピーター
      <!-- ここはページによって挙動を変える -->
      <span id='select-overlay'>
        <%= image_tag 'plus.png' , :class => "icon" %>
        <%= select_tag 'narrow_select', options_for_select(@categories), :include_blank => true, :prompt => '条件を設定' %>
      </span>
      <input type="hidden" name="history_from" value=""/>
      <input type="hidden" name="history_to" value=""/>
      <input type="hidden" name="history_cv_num" value=""/>
      <input type="hidden" name="hash" value=""/>

      <a href="javascript:void(0)" onclick="document.narrowForm.submit();return false;" id="set">絞り込み</a>
    </span>
  </form>
</div>

<!-- datepicker form dialog start -->
<div id="dialog-form">
  <p>期間を設定してください</p>
  <p>期間は最低3日以上を選択してください。</p>
  <br/>
    <label for="fromd">開始</label>
    <input type="text" class="fromd" name="fromd" size="10" style="width:100px;" readonly="readonly"  />
    <label for="tod">終了</label>
    <input type="text" class="tod" name="tod"  size="10" style="width:100px;" readonly="readonly"  />
</div>
<!-- datepicker form dialog end -->
<!-- header_end -->
