<% @user ||= current_user %>
<!-- header_st -->
<div id="entrance">
  <h1>Analytics Support Tool</h1>
  <%= select_tag 'cvselect', options_for_select( @ga_goal ) %>
  <%= link_to "ログアウト", signout_path, method: "delete" %>
  <%= link_to "パスワード変更", edit_user_path(current_user) %>
  <div>ID：<%= @user.name %></div>
</div>
<ul>
  <li class="tab" id="first"><a href="javascript:void(0)" name="<%= user_path %>">ホーム</a></li>
  <li class="tab" id="all"><a href="javascript:void(0)" name="<%= all_user_path %>">全体</a></li>
  <li class="tab" id="search"><a href="javascript:void(0)" name="<%= search_user_path %>">検索</a></li>
  <li class="tab" id="direct"><a href="javascript:void(0)" name="<%= direct_user_path %>" class="db">直接入力<br>ブックマーク</a></li>
  <li class="tab" id="referral"><a href="javascript:void(0)" name="<%= referral_user_path %>" class="db">その他<br>ウェブサイト</a></li>
  <li class="tab" id="social"><a href="javascript:void(0)" name="<%= social_user_path %>">ソーシャル</a></li>
  <li class="tab" id="campaign"><a href="javascript:void(0)" name="<%= campaign_user_path %>">キャンペーン</a></li>
  <li class="tab" id="last"><a href="javascript:void(0)" name="<%= last_user_path %>">カスタマイズ</a></li><br>
</ul>
<div id="hallway">
  <form action="<%= @narrow_action %>" method="GET" name="narrowForm">
    <!-- Datepicker  -->
    <a href="javascript:void(0)" id="jrange"><%= image_tag 'calender.png' %><%= @from.strftime("%y/%m/%d") %>-<%= @to.strftime("%y/%m/%d") %></a>
    <!-- datepicker用のinput -->
    <input type="hidden" id="from" name="from" value="<%= @from.strftime("%Y/%m/%d") %>"/>
    <input type="hidden" id="to" name="to" value="<%= @to.strftime("%Y/%m/%d")  %>" />
    <input type="hidden" value="1" name="cv_num" />
    <input type="hidden" name="shori" value="1"/> <!-- ホーム画面の初期処理フラグをONにする -->
    <input type="hidden" value="" name="graphic_item" />
    <input type="hidden" value="" name="red_item" />
    <input type="hidden" value="" name="prev_page" />
    <span id='poverlay'>
      <%= image_tag 'device.png', :class => "icon" %>
      <input type="checkbox" name="device" class="ic" value="all" checked>&nbsp;or&nbsp;&nbsp;
      <input type="checkbox" name="device" class="ic" value="pc">パソコン&nbsp;&nbsp;
      <input type="checkbox" name="device" class="ic" value="sphone">スマートフォン&nbsp;&nbsp;
      <input type="checkbox" name="device" class="ic" value="mobile">モバイル
      <%= image_tag 'user.png' , :class => "icon" %>
      <input type="checkbox" name="visitor"class="ic" value="all" checked>&nbsp;or&nbsp;&nbsp;
      <input type="checkbox" name="visitor"class="ic" value="new">新規&nbsp;&nbsp;
      <input type="checkbox" name="visitor"class="ic" value="repeat">リピーター
      <!-- ここはページによって挙動を変える -->
      <%= image_tag 'plus.png' , :class => "icon" %>
      <%= select_tag 'narrow_select', grouped_options_for_select(@categories), :include_blank => true, :prompt => '選択してください' %>
      <a href="javascript:void(0)" onclick="document.narrowForm.submit();return false;" id="set">絞り込み</a>
    </span>
  </form>
</div>
<!-- datepicker form dialog start -->
<div id="dialog-form">
  <p>期間を設定してください</p>
  <p>指定範囲は最大1か月です</p>
  <input id="dummy" readonly="readonly"/>
  <br/>
    <label for="fromd">開始</label>
    <input type="text" class="fromd" name="fromd" size="10" style="width:100px;" readonly="readonly"  />
    <label for="tod">終了</label>
    <input type="text" class="tod" name="tod"  size="10" style="width:100px;" readonly="readonly"  />
</div>
<!-- datepicker form dialog end -->

<!-- onLogin dialog start -->
<div id="onlogin-dialog">
  <br/><br/><br/><br/><br/>
  <p>期間を設定してください　　　　　　　　　　　　　</p>
  <input class="dummy" readonly="readonly"/>
  <br/>
    <input type="text" class="fromd" name="fromd" readonly="readonly"  />&nbsp;～&nbsp;
    <input type="text" class="tod" name="tod" readonly="readonly"  />
    <a href id="start">設定</a>
</div>
<!-- onLogin dialog end -->

<!-- onLogin confirm dialog start -->
<div id="onlogin-dialog-confirm">
  <br/><br/><br/><br/><br/>
  <p id="confirm-msg"></p>
  <br/><br/><br/>
  <a href id="go">分析開始</a>
  <a href id="cancel">期間修正</a>
</div>
<!-- onLogin confirm dialog end -->

<!-- header_end -->
