<% @user ||= current_user %>
<!-- header_st -->
<div id="entrance">
  <h1>TAS for GA ver.</h1>
  <% cv_hash = {}
    (1..20).each do |t|
      key = "CV" + t.to_s
      cv_hash[key] = t
    end
  %>
  <%= select_tag 'cvselect', options_for_select( cv_hash ) %>
  <a href="">ログアウト</a><a href="">パスワード変更</a><div>ID：<%= @user.name %></div><br>
</div>
<ul>
  <li class="tab" id="first"><a href="#" name="<%= user_path %>">ホーム</a></li>
  <li class="tab" id="all"><a href="#" name="<%= all_user_path %>">全体</a></li>
  <li class="tab" id="search"><a href="#" name="<%= search_user_path %>">検索</a></li>
  <li class="tab" id="direct"><a href="#" name="<%= direct_user_path %>" class="db">直接入力<br>ブックマーク</a></li>
  <li class="tab" id="referral"><a href="#" name="<%= referral_user_path %>" class="db">その他<br>ウェブサイト</a></li>
  <li class="tab" id="social"><a href="#" name="<%= social_user_path %>">ソーシャル</a></li>
  <li class="tab" id="campaign"><a href="#" name="<%= campaign_user_path %>">キャンペーン</a></li>
  <li class="tab" id="last"><a href="#" name="<%= last_user_path %>">カスタマイズ</a></li><br>
</ul>
<div id="hallway">
  <form action="<%= @narrow_action %>" method="get" name="narrowForm">
    <span id="calendar">
      <p class="arrow_box">クリックして期間を指定できます</p>
        <%= image_tag 'calender.png' %>
        <!-- 14/01/01-14/12/31 -->
        <!-- datepicker用のinput -->
        <input type="text" id="from" name="from" size="10" style="width:100px;" readonly="readonly"  />-
        <input type="text" id="to" name="to"  size="10" style="width:100px;" readonly="readonly"  />
    </span>
        <input type="hidden" value="1" name="cv_num" />
        <input type="hidden" value="" name="graphic_item" />
    <%= image_tag 'device.png', :class => "icon" %>
    <input type="radio" name="device" class="ic" value="all" checked>&nbsp;or&nbsp;&nbsp;
    <input type="radio" name="device" class="ic" value="pc">パソコン&nbsp;&nbsp;
    <input type="radio" name="device" class="ic" value="sphone">スマートフォン&nbsp;&nbsp;
    <input type="radio" name="device" class="ic" value="mobile">モバイル
    <%= image_tag 'user.png' %>
    <input type="radio" name="visitor"class="ic" value="all" checked>&nbsp;or&nbsp;&nbsp;
    <input type="radio" name="visitor"class="ic" value="new">新規&nbsp;&nbsp;
    <input type="radio" name="visitor"class="ic" value="repeat">リピーター
    <!-- ここはページによって挙動を変える -->
    <%= image_tag 'plus.png' %>
    <%= select_tag 'narrow_select', grouped_options_for_select(@categories, "", "選択してください") %>
    <a href="#" onclick="document.narrowForm.submit()" id="set">絞り込み</a>
  </form>
</div>
<!-- header_end -->
